li{
    color: red;
    font-size: 30px ;
}
h1{
    text-align: center;
    color :rgb(1,1,100);
    font-style: italic;
    
}
span{
    color: rgb(150,100,50) ; 
}
body{
    background :rgb(0,100,70) ;
}
nav:hover{
     font-family: serif ;
     text-transform: uppercase;

     
}
p1 {
    text-align: center;
    
}
header{
    background-image: url(bug.jpeg);
    
    
    
}

services {
    text-align: center;
}
.services i{
    
    font-size: 30px;
    padding: 20px 5px;
    background-color: rgb(20,70,30);
    color: white;
    text-align: center;
    width: 80px;
    height : 80px;
    border-radius: 50%;
}
.services span{
    font-weight: bold;
}